.tickerContainerDiv {
	overflow: hidden;
	text-align: left;
}

.tickerToggleDiv {
	text-align: left;
}

.tickerToggleDiv .tickerToggleLink {
	text-decoration: none;
	padding: 3px 0px 3px 12px;
	display: block;
}

.tickerToggleDiv .tickerToggleLink.tickerOpen {
	background-image: url('../images/arrow_expand_down.gif');
	background-repeat: no-repeat;
	background-position: left center;
}

.tickerToggleDiv .tickerToggleLink.tickerClosed {
	background-image: url('../images/arrow_expand_right.gif');
	background-repeat: no-repeat;
	background-position: left center;
}

.tickerContainerDiv a {
	text-decoration: none;
}

.tickerGameTable {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	border: 1px solid DarkGray;
	border-collapse: collapse;
}

.tickerGameTable .tickerGameCell {
	padding: 0px 0px;
}

.tickerGameTable .tickerGameTile {
	width: 56px;
}

.tickerGameTable .tickerGameTile .tickerGameTeam {
	font-weight: bold;
}

.tickerGameTable .tickerGameTile .tickerGameScore {
	font-weight: bold;
	text-align: right;
}

.tickerGameTable .tickerGameTile .tickerGameStatus {
	white-space: nowrap;
}

.tickerGameTable .tickerGameTile .tickerPossession {
	color: red;
}

.tickerGameTable .tickerGameRedZone .tickerPossession {
	color: white;
}

.tickerGameTable .tickerGameRedZone:hover .tickerPossession {
	color: red;
}

.tickerGameTable .tickerPlaying {
	border-left: 1px solid LightGray;
	border-right: 1px solid LightGray;
	background-color: white;
}

.tickerGameTable .tickerGameRedZone {
	color: white !important;
	background-color: red !important;
}

.tickerGameTable .tickerGamePending {
	color: #7a7a7a;
	background-color: WhiteSmoke;
	border: 1px solid white;
}

.tickerGameTable .tickerGameFinished {
	color: #6a6a6a;
	background-color: LightGray;
	border: 1px solid white;
}

.tickerGameTable .tickerTeamWinner {
	color: #333;
}

.tickerGameTable .tickerGameTile:hover .tickerTeamWinner {
	color: DarkBlue;
}

.tickerGameTable .tickerGameTile:hover {
	color: DarkBlue !important;
	background-color: PowderBlue !important;
}

.tickerBigPlay {
	z-index: 5;
	position: absolute;
	overflow: hidden;
}

.tickerBigPlay .tickerBigPlayContent {
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	width: 142px;
	border-top: 1px solid DarkBlue;
	border-bottom: 1px solid DarkBlue;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: DarkBlue;
	background-color: PowderBlue;
	padding: 3px 3px 3px 3px;
}

.tickerBigPlay .tickerBigPlayRight {
	border-right: 1px solid DarkBlue;
}

.tickerBigPlay .tickerBigPlayLeft {
	border-left: 1px solid DarkBlue;
}

.tickerBigPlay .tickerBigPlayContent .tickerBigPlayTeam {
	height: 33%;
	font-size: larger;
}

.tickerBigPlay .tickerBigPlayContent .tickerBigPlayMessage {
	height: 66%;
}
