.center {
	text-align: center;
}

.alert {
	color: red;
}

table.displayTable {
	border: 1px solid #d9d8d1;
	border-collapse: collapse;
}

table.displayTable .dark {
	background-color: #f6f6f0;
}

table.displayTable .dark:hover {
	background-color: #edece6;
}

table.displayTable .light:hover {
	background-color: #edece6;
}

table.displayTable th {
	border: 1px solid #d9d8d1;
	background-color: #d9d8d1;
}

table.displayTable td {
	border: 1px solid #d9d8d1;
}

.clear {
	clear: both;
}

.scoreTable {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px auto;
}

.scoreTable tbody {
	text-align: center;
	font-size: 12px;
}

.scoreTable td {
	white-space: nowrap;
}

.scoreTable td.entrantName {
	font-weight: bold;
}

.win {
	color: blue;
}

.loss {
	color: red;
}

table.scoreTable tr.self {
	background-color: #dcdbd5;
}

table.scoreTable tr.self:hover {
	background-color: #dcdbd5;
}

div.poolInfoDiv {
	width: 60%;
	float: left;
}

div.userOpts {
	width: 30%;
	float: right;
	text-align: right;
}

div.userOpts table {
	float: right;
}

div.userOpts table td {
	border: 0px;
}

.gamestarted {
	color: darkgray;
}

.betTable tbody {
	text-align: center;
}

.poolIcons {
	text-align: right;
	padding: 8px 0px;
}

.historyTable td {
	padding: 3px 3px;
}

div.userEditDiv {
	width: 40%;
	float: left;
}

div.poolEditDiv {
	width: 40%;
	float: right;
}

div.poolEditToolbar div.left {
	width: 40%;
	float: left;
}

div.poolEditToolbar div.right {
	width: 40%;
	float: right;
	text-align: right;
}

div.movementDiv {
	height: 500px;
	width: 19%;
	float: left;
	text-align: center;
	vertical-align: middle;
}

div.movementDiv div {
	margin-top: 100%;
}

div.availableUsers {
	height: 500px;
	overflow: auto;
	border: 1px solid black;
}

div.poolUsers {
	height: 500px;
	overflow: auto;
	border: 1px solid black;
}

div.userListItem {
	border: 1px solid #d9d8d1;
}

div.userListItem table {
	width: 100%;
}

div.userListItem table td.checkbox {
	width: 1%;
}

div.userListItem table td.alert {
	text-align: right;
}

div.selected {
	background-color: yellow;
}

table.userTable td {
	padding: 3px 3px;
}

table.userTable td.action a {
	margin: 0px 5px;
}

div.poolBetDiv {
	margin-top: 30px;
}

div.poolActionsDiv {
	margin-top: 20px;
}
