.alert {
	color: red;
}

.rounded-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
	border-collapse: separate !important;
	border-spacing: 0;
	behavior: url('css/ext/PIE.php');
}

.rounded-bottom {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	border-collapse: separate !important;
	border-spacing: 0;
	behavior: url('css/ext/PIE.php');
}

.mainShadow {
	-moz-box-shadow: 5px 5px 5px #333333;
	-webkit-box-shadow: 5px 5px 5px #333333;
	box-shadow: 5px 5px 5px #333333;
	behavior: url('css/ext/PIE.php');
}

.subShadow {
	-moz-box-shadow: 0px 0px 5px #4f4f4f;
	-webkit-box-shadow: 0px 0px 5px #4f4f4f;
	box-shadow: 0px 0px 5px #4f4f4f;
	behavior: url('css/ext/PIE.php');
}

a {
	color: #626262;
}

body {
	background-color: #0e0e0e;
}

div#main2 {
	border: 3px solid #4f4f4f;
	background-color: #ededef;
	-moz-border-radius: 15px;
	border-radius: 15px;
	behavior: url('css/ext/PIE.php');
}

.subSection {
	background-color: #ededef;
}

.header {
	background-color: #4f4f4f;
}

.header .headertext {
	color: #ededef;
	text-align: left;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: larger;
	text-shadow: -1px -1px 0px #9c9c9c;
}

.header .links a {
	color: #ededef;
	padding: 6px 3px 6px 5px;
	text-decoration: none;
	border-left: 1px solid #d8ebf8;
	margin: 0px 0px;
}

.header .links a:hover {
	background-color: #5d5b5e;
}


table.displayTable {
	border: 1px solid #8b858f;
	border-collapse: collapse;
}

table.displayTable .light {
	background-color: white;
}

table.displayTable .dark {
	background-color: #f6f6f0;
}

table.displayTable .dark:hover {
	background-color: #edece6;
}

table.displayTable .light:hover {
	background-color: #edece6;
}

table.displayTable th {
	border: 1px solid #8b858f;
	background-color: #8b858f;
	color: #ededef;
	text-align: center;
}

table.displayTable td {
	border: 1px solid #8b858f;
}


.scoreTable {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px auto;
}

.scoreTable th a {
	color: #ededef;
}

.scoreTable th.currentweek a {
	color: blue;
}

.scoreTable th.weekclosed a {
	color: #acacac;
}

.scoreTable th a {
	text-decoration: none;
}

.scoreTable tbody {
	text-align: center;
	font-size: 12px;
}

.scoreTable td.entrantName {
	font-weight: bold;
}

.scoreTable a.betLink {
	font-style: italic;
	color: darkgray;
}

.win {
	color: blue;
}

.loss {
	color: red;
}

table.scoreTable tr.self {
	background-color: lightgray;
}

table.scoreTable tr.self:hover {
	background-color: lightgray;
}

table.scoreTable td.current {
	background-color: #dcdbd5;
}

table.infoTable td {
	border: 0px;
}

div.userOpts table td {
	border: 0px;
}

.teampicked {
	color: darkgray;
}

.gamestarted {
	color: darkgray;
}

.currentgame {
	font-weight: bold;
}

.betTable {
	margin: 0px auto;
}

.betTable tbody {
	text-align: center;
}

div.poolFooter {
	background-color: #8b858f;
	color: #ededef;
}

div.poolFooter a {
	color: #ededef;
}

div.availableUsers {
	border: 1px solid black;
}

div.poolUsers {
	border: 1px solid black;
}

div.userListItem {
	border: 1px solid #d9d8d1;
}

div.selected {
	background-color: yellow;
}

#linksDiv {
	border: 1px solid #8b858f;
}

#linksToggle {
	background-color: #54abe4;
}

#lnkLinks {
	background-color: #8b858f;
	text-decoration: none;
	color: #ededef;
}

#lnkLinks:hover {
	background-color: #4f4f4f;
}

.ui-tooltip-tote .ui-tooltip-wrapper{
	border-color: #4f4f4f;
	background-color: #ededef;
	color: #000;
}

.ui-tooltip-tote .ui-tooltip-titlebar{
	background-color: #4f4f4f;
	color: #ededef;
}

.ui-tooltip-tote .ui-tooltip-icon{
	background: #9c9c9c url('../../../images/close-light.png') no-repeat 50% 50%;
}

.tickerToggleDiv {
	border-top: 1px solid #8b858f;
	border-left: 1px solid #8b858f;
	border-right: 1px solid #8b858f;
}

.tickerToggleDiv .tickerToggleLink {
	background-color: #8b858f;
	color: #ededef;
}

.tickerToggleDiv .tickerToggleLink:hover {
	background-color: #4f4f4f;
}

.tickerContainerDiv {
	border-left: 1px solid #8b858f;
	border-right: 1px solid #8b858f;
	border-bottom: 1px solid #8b858f;
}

.nodata {
	color: darkgray;
	font-style: italic;
}

.scheduleTabs {
	font-size: larger;
}

.activeTab {
	font-weight: bold;
	color: #fff;
	background-color: #8b858f;
}

.activeTab a {
	color: #fff;
}

.scheduleTabs .activeTab {
	padding: 1px 2px 0px 2px
}

.scheduleTable {
	border-top: 1px solid #8b858f;
}

.scheduleTable td {
	padding: 5px 5px;
}

.scheduleToc {
	border-right: 1px solid #8b858f;
}

.scheduleTable .divScheduleTeam {
	border-bottom: 1px solid #8b858f;
}

.scheduleTable .divScheduleWeek {
	border-bottom: 1px solid #8b858f;
}

.scheduleTable .scheduleSubHeader {
	font-weight: bold;
	padding: 2px 0px;
	font-size: larger;
}

.scheduleNav {
	padding: 0px 0px 8px 0px;
}

.scheduleNav select {
	font-size: larger;
}

#attrFooter {
	font-style: italic;
	font-size: smaller;
	font-family: Helvetica, Arial, sans-serif;
}

#attrFooter a {
	color: #626262;
	text-decoration: none;
}

#attrFooter a:hover {
	text-decoration: underline;
}
