.alert {
	color: red;
}

.rounded-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
	border-collapse: separate !important;
	border-spacing: 0;
	behavior: url('css/ext/PIE.php');
}

.rounded-bottom {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	border-collapse: separate !important;
	border-spacing: 0;
	behavior: url('css/ext/PIE.php');
}

.mainShadow {
	-moz-box-shadow: 5px 5px 5px #072030;
	-webkit-box-shadow: 5px 5px 5px #072030;
	box-shadow: 5px 5px 5px #072030;
	behavior: url('css/ext/PIE.php');
}

.subShadow {
	-moz-box-shadow: 0px 0px 5px #81bee8;
	-webkit-box-shadow: 0px 0px 5px #81bee8;
	box-shadow: 0px 0px 5px #81bee8;
	behavior: url('css/ext/PIE.php');
}

a {
	color: #072269;
}

body {
	background-color: #d9d9d9;
}

div#main2 {
	border: 3px solid #83ff28;
	background-color: #ffffff;
	-moz-border-radius: 15px;
	border-radius: 15px;
	behavior: url('css/ext/PIE.php');
}

.subSection {
	background-color: #d1ecfe;
}

.header {
	background-color: #83ff28;
}

.header .headertext {
	color: #356714;
	text-align: left;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: larger;
}

.header .links a {
	color: #356714;
	padding: 6px 3px 6px 5px;
	text-decoration: none;
	border-left: 1px solid #d8ebf8;
	margin: 0px 0px;
}

.header .links a:hover {
	background-color: #6edc22;
}


table.displayTable {
	border: 1px solid #6c9ffc;
	border-collapse: collapse;
}

table.displayTable .light {
	background-color: white;
}

table.displayTable .dark {
	background-color: #f6f6f0;
}

table.displayTable .dark:hover {
	background-color: #edece6;
}

table.displayTable .light:hover {
	background-color: #edece6;
}

table.displayTable th {
	border: 1px solid #6c9ffc;
	background-color: #6c9ffc;
	text-align: center;
	color: #072269;
}

table.displayTable td {
	border: 1px solid #6c9ffc;
}


.scoreTable {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px auto;
}

.scoreTable th a {
	color: black;
}

.scoreTable th.currentweek a {
	color: blue;
}

.scoreTable th.weekclosed a {
	color: #9c9c9c;
}

.scoreTable th a {
	text-decoration: none;
}

.scoreTable tbody {
	text-align: center;
	font-size: 12px;
}

.scoreTable td.entrantName {
	font-weight: bold;
}

.scoreTable a.betLink {
	font-style: italic;
	color: darkgray;
}

.win {
	color: blue;
}

.loss {
	color: red;
}

table.scoreTable tr.self {
	background-color: lightgray;
}

table.scoreTable tr.self:hover {
	background-color: lightgray;
}

table.scoreTable td.current {
	background-color: #dcdbd5;
}

table.infoTable td {
	border: 0px;
}

div.userOpts table td {
	border: 0px;
}

.teampicked {
	color: darkgray;
}

.gamestarted {
	color: darkgray;
}

.currentgame {
	font-weight: bold;
}

.betTable {
	margin: 0px auto;
}

.betTable tbody {
	text-align: center;
}

div.poolFooter {
	background-color: #6c9ffc;
}

div.availableUsers {
	border: 1px solid black;
}

div.poolUsers {
	border: 1px solid black;
}

div.userListItem {
	border: 1px solid #d9d8d1;
}

div.selected {
	background-color: yellow;
}

#linksDiv {
	border: 1px solid #6c9ffc;
}

#linksToggle {
	background-color: #54abe4;
}

#lnkLinks {
	background-color: #6c9ffc;
	text-decoration: none;
}

#lnkLinks:hover {
	background-color: #072269;
	color: #6c9ffc;
}

.ui-tooltip-tote .ui-tooltip-wrapper{
	border-color: #83ff28;
	background-color: #ffffff;
	color: #454545;
}

.ui-tooltip-tote .ui-tooltip-titlebar{
	background-color: #83ff28;
}

.ui-tooltip-tote .ui-tooltip-icon{
	background: #9c9c9c url('../../../images/close-light.png') no-repeat 50% 50%;
}

.tickerToggleDiv {
	border-top: 1px solid #6c9ffc;
	border-left: 1px solid #6c9ffc;
	border-right: 1px solid #6c9ffc;
}

.tickerToggleDiv .tickerToggleLink {
	background-color: #6c9ffc;
}

.tickerToggleDiv .tickerToggleLink:hover {
	background-color: #072269;
	color: #6c9ffc;
}

.tickerContainerDiv {
	border-left: 1px solid #6c9ffc;
	border-right: 1px solid #6c9ffc;
	border-bottom: 1px solid #6c9ffc;
}

.nodata {
	color: darkgray;
	font-style: italic;
}
