<?php

/**
 * hostname
 *
 * MySQL hostname to connect to
 */
$tote_conf['hostname'] = 'localhost';

/**
 * sql_database
 *
 * MySQL database to connect to
 */
$tote_conf['sql_database'] = '';

/**
 * username
 *
 * MySQL username
 */
$tote_conf['username'] = '';

/**
 * password
 *
 * MySQL password
 */
$tote_conf['password'] = '';

/**
 * port
 *
 * MySQL port to connect to
 */
$tote_conf['port'] = 3306;

/**
 * prefix
 *
 * Prefix for MySQL table names
 */
$tote_conf['prefix'] = '';

/**
 * sitename
 *
 * name of site to use in various displays/emails
 */
$tote_conf['sitename'] = 'tote';

/**
 * fromemail
 *
 * email address to use as from/reply-to in website
 * mailings
 */
$tote_conf['fromemail'] = 'xiphux@gmail.com';

/**
 * bccemail
 *
 * email address to BCC all outgoing emails to
 * (for debugging purposes)
 */
$tote_conf['bccemail'] = 'xiphux@gmail.com';

/**
 * reminders
 *
 * set to true to enable the reminder settings
 * note this also depends on a background cron job
 * running the reminders.php script once an hour
 * or more often
 */
$tote_conf['reminders'] = true;

/**
 * cache
 *
 * set to true to turn on caching of dynamic data
 */
$tote_conf['cache'] = false;

/**
 * links
 * 
 * an array of useful links to provide on the pool page
 */
$tote_conf['links'] = array(
	'NFL' => 'http://nfl.com',
	'ESPN NFL' => 'http://espn.go.com/nfl/',
	'FOX Sports NFL' => 'http://msn.foxsports.com/nfl',
	'CBS Sports NFL' => 'http://www.cbssports.com/nfl',
	'NBC Sports NFL' => 'http://nbcsports.msnbc.com/nfl',
	'CNN Sports Illustrated NFL' => 'http://sportsillustrated.cnn.com/football/nfl/',
	'ProFootballTalk' => 'http://profootballtalk.nbcsports.com',
	'FootballLOCKS NFL Point Spreads' => 'http://www.footballlocks.com/nfl_point_spreads.shtml'
);

/**
 * defaultstyle
 *
 * default style for the site if the user doesn't pick a preference
 * (or isn't logged in)
 */
$tote_conf['defaultstyle'] = 'Blue';

