<?php

/**
 * hostname
 *
 * MySQL hostname to connect to
 */
$tote_conf['hostname'] = 'localhost';

/**
 * sql_database
 *
 * MySQL database to connect to
 */
$tote_conf['sql_database'] = '';

/**
 * username
 *
 * MySQL username
 */
$tote_conf['username'] = '';

/**
 * password
 *
 * MySQL password
 */
$tote_conf['password'] = '';

/**
 * port
 *
 * MySQL port to connect to
 */
$tote_conf['port'] = 3306;

/**
 * prefix
 *
 * Prefix for MySQL table names
 */
$tote_conf['prefix'] = '';

/**
 * sitename
 *
 * name of site to use in various displays/emails
 */
$tote_conf['sitename'] = 'tote';

/**
 * fromemail
 *
 * email address to use as from/reply-to in website
 * mailings
 */
$tote_conf['fromemail'] = 'xiphux@gmail.com';

/**
 * bccemail
 *
 * email address to BCC all outgoing emails to
 * (for debugging purposes)
 */
$tote_conf['bccemail'] = 'xiphux@gmail.com';

/**
 * reminders
 *
 * set to true to enable the reminder settings
 * note this also depends on a background cron job
 * running the reminders.php script once an hour
 * or more often
 */
$tote_conf['reminders'] = true;


